body {
	padding: 20px;
	font-family: 'Open Sans', sans;
	background: url('i/paper.png') repeat;
	text-align: center;
}
body h1 {
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	margin-bottom: 50px;
}
body h1 small {
	font-size: 0.7em;
}
.update {
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 700px;
	height: 100px;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 20px #444;
	border-radius: 15px;
	z-index: 100;
	text-shadow: 1px 1px 1px #fff;
	padding: 5px;
}
.update h4 {
	margin: 0;
}
.update input{
	font-size: 1.2em;
	width: 550px;
}
.update .deadline_input{
	font-size: 0.8em;
	width: 300px;
	float: left;
	margin-left: 17px;
}
.wrapper {
	width: 700px;
	margin: auto;
}
.project {
	border-radius: 0px 0px 15px 15px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 50px;
	box-shadow: 3px 3px 10px #555;
	text-align: left;
}
.headline {
	border: 1px solid #3b61a4;
	padding: 10px 5px 10px 20px;
	color: #fff;
	background: #4e84b8; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e84b8 0%, #3b61a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e84b8), color-stop(100%,#3b61a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e84b8 0%,#3b61a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e84b8', endColorstr='#3b61a4',GradientType=0 ); /* IE6-9 */

}
.headline span{
	text-shadow: 1px 1px 1px #000;
	font-size: 1.5em;
	cursor: pointer;
}
.headline .icon:before{
	content: '\e055';
	color: #475872;
	text-shadow: 1px 1px 1px #bbb;
}
.headline table {
	float: right;
}
.headline table td {
	padding: 0 5px 0 5px;
	
}
.headline table td .icon:before{
	color: #98B0D2;
	font-size: 0.8em;
}
.headline table td .icon:hover:before{
	color: #B0C7E3;
}
.headline table td:nth-child(1){
	border-right: 1px solid #98B0D2;
}
/* a huge crutch couse of we can't set content for "before" in inline style */
.headline table td:nth-child(1) .icon:before{
	content: '\270e';    

}
.headline table td:nth-child(2) .icon:before{
	content: '\e05a';
}
.add {
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cccccc;
	padding: 5px 5px 10px 10px;
}

.add input {
	width: 540px;
	margin-left: 10px;
	font-size: 1.2em;
}
button {
	color: white;
	cursor: pointer;
	margin-left: -5px;
	font-size: 1.2em;
	border-radius: 0 5px 5px 0;
	border: 1px solid #447557;
	/* css generator */
	background: #8fc6a8; /* Old browsers */
	background: -moz-linear-gradient(top,  #8fc6a8 0%, #508767 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc6a8), color-stop(100%,#508767)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8fc6a8 0%,#508767 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8fc6a8 0%,#508767 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8fc6a8 0%,#508767 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8fc6a8 0%,#508767 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc6a8', endColorstr='#508767',GradientType=0 ); /* IE6-9 */

}
button:active {
	background: #508767;
}
.add .icon{
	position: relative;
	top: 5px;
}
.add .icon:before{
	content: '\2795';
	color: #589072;
	font-size: 2em;
}

@font-face{
	font-family: 'Iconic';
	src: url('i/iconic_fill.eot');
	src: url('i/iconic_fill.eot?#iefix') format('embedded-opentype'), url('i/iconic_fill.ttf') format('truetype'), url('i/iconic_fill.svg#iconic') format('svg'); font-weight: normal; font-style: normal;
}
@font-face{
	font-family: 'Open Sans';
	src: url('i/open_sans.ttf');
}

.icon{
	font-family: 'Iconic';
}

.list {
	
}
.list table{
	width: 100%;
	color: #A5A5A5;
	border-collapse: collapse;
}
.list table tr:hover{
	background-color: #FCFED5;
}
.list table td{
	border: 1px solid #A5A5A5;
	border-bottom: none;
	padding: 3px;
	text-align: center;
}
.list table .check{
	width: 7%;
}
.list table .task_name{
	width: 73%;
	text-align: left;
	padding-left: 20px;
	cursor: pointer;
}
.list table .control{
	width: 20%;
}
.list table .bump{
	font-size: 0.8em;
}
.list table td table td {
	cursor: pointer;
}
.list table .control tr:nth-child(1) .bump .icon:before{
	content: '\2191';
}
.list table tr:nth-child(1) td:nth-child(2) .icon:before{
	content: '\270e';
	font-size: 1.3em;
}
.list table tr:nth-child(1) td:nth-child(3) .icon:before{
	content: '\e05a';
	font-size: 1.3em;
}
.list table td table td:hover{
	color: #707070;
}
.list table .control tr:nth-child(2) .bump .icon:before{
	content: '\2193';
}
.list table input{
	cursor: pointer;
}
.list .deadline {
	float: right;
	font-size: 0.8em;
	color: #C1C1C1;
}

.add_project{
	color: #fff;

	background: #4e84b8; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e84b8 0%, #3b61a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e84b8), color-stop(100%,#3b61a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e84b8 0%,#3b61a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e84b8 0%,#3b61a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e84b8', endColorstr='#3b61a4',GradientType=0 ); /* IE6-9 */
	
	border-radius: 3px;
	text-shadow: -1px -1px 1px #333;

	padding: 5px;
	
}
.add_project:active{
	background-color: #3B61A4;
}

.add_project .icon {
	position: relative;
	top: 5px;
	margin-right: 5px;
}
.add_project .icon:before{
	content: '\2795';
	color: #30486E;
	font-size: 2em;
	text-shadow: 1px 1px 2px #669AEB;
}

.alert {
	position: fixed;
	z-index: 11;
	top: 20px;
	left: 10px;
	border: 1px solid red;
	border-radius: 10px;
	height: 30px;
	background-color: rgba(255,0,0,0.3);
}

.enter {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 180px;
	width: 350px;
	padding: 20px;
	text-align: right;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 20px #444;
	border-radius: 15px;
}
.enter h4 {
	text-align: left;
}
a {
	text-decoration: none;
	color: #333;
}
.logout {
	position: absolute;
	right: 20px;
	top: 10px;
}
a:hover {
	color: #888;
}